.cache
.vscode
.idea
c/.idea
cpp/.idea
go/.idea
rust/.idea
zig/.idea
cpp/target
compile_commands.json
rust/target
rust/Cargo.lock
go/target
go/go.sum
zig/.zig-cache
zig/pkg
zig/target
zig/zig-cache
zig/zig-out
__pycache__
cpp/MODULE.bazel.lock
cpp/bazel-bin
cpp/bazel-cpp
cpp/bazel-out
cpp/bazel-testlogs
c/build
c/cmake-build-debug-llvm
