.cache
.vscode
.idea
.zig-cache
c/.idea
cpp/.idea
go/.idea
rust/.idea
zig/.idea
cpp/target
compile_commands.json
rust/target
rust/Cargo.lock
go/target
go/go.sum
zig/pkg
target
zig-cache
zig-out
__pycache__
bazel-bin
bazel-net
bazel-cpp
bazel-out
bazel-go
bazel-testlogs
build
cmake-build-debug-llvm
MODULE.bazel.lock
